::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  opacity: 0;
  border-radius: 2px;
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  transition: 0.3s background-color;
}
body {
  --primary: 25, 91, 255;
  --color: 44, 62, 80;
}
* {
  list-style: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.con-user {
  padding-top: 10px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  padding-bottom: 10px;
  border-radius: 0px 0px 40px 0px;
  max-width: 500px;
  margin: auto;
}
.con-user .avatar img {
  width: 100px;
  border-radius: 30px;
}
.con-user .title {
  text-align: center;
  width: 100%;
}
.con-user .title h1 {
  font-size: 1.1rem;
  padding: 0px 0px;
}
.con-user .title h3 {
  font-size: 0.9rem;
  opacity: 0.6;
}
.con-user .title p {
  font-size: 0.9rem;
  opacity: 0.6;
  padding: 6px 10px;
}
.con-user .title p a {
  color: #000;
}
.con-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 500px;
  margin: auto;
  width: 100%;
  position: relative;
  z-index: 10;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 30px 30px;
}
.con-menu button {
  padding: 12px;
  width: calc(50% - 4px);
  border: 0px;
  background: transparent;
  font-weight: bold;
  color: #000;
  font-size: 1rem;
  transition: all 0.25s ease;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  z-index: 2;
}
.con-menu button:active {
  background: #fff;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.06);
  color: #000;
}
.con-contents {
  margin: auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  flex: 1;
  height: 100%;
  position: relative;
  max-width: 500px;
}
.con-contents .con-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px 20px;
  padding-top: 0px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  min-width: 100%;
  scroll-snap-align: center;
  flex: 1;
  overflow: auto;
  padding-top: 20px;
}
.con-contents .con-links a {
  display: block;
  width: 100%;
  padding: 18px 22px;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  margin-bottom: 16px;
  border-radius: 25px;
  position: relative;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, );
}
.con-contents .con-links a img {
  max-width: 22px;
  position: absolute;
  left: 20px;
}
.con-contents .con-links a svg {
  width: 22px;
  fill: #fff;
  position: absolute;
  left: 20px;
}
.con-contents .con-links a i {
  font-size: 1.6rem;
  position: absolute;
  left: 20px;
}
.con-contents .con-links a span {
  text-align: center;
}
.con-contents .con-links a span p {
  font-size: 0.8rem;
}
.con-contents .con-posts {
  min-width: 100%;
  scroll-snap-align: center;
  overflow: auto;
  padding-bottom: 30px;
  max-width: 500px;
}
.con-contents .con-posts .post {
  width: calc(100% - 40px);
  overflow: hidden;
  box-shadow: border-box;
  display: block;
  margin: 20px;
  color: #000;
  border-radius: 30px;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}
.con-contents .con-posts .post img {
  width: 100%;
}
.con-contents .con-posts .post .con-file {
  width: 100%;
}
.con-contents .con-posts .post .con-file i {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  font-size: 56pt;
}
.con-contents .con-posts .post footer {
  z-index: 10;
  padding: 10px 20px 20px;
}
.con-contents .con-posts .post footer h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12pt;
}
.con-contents .con-posts .post footer h3 i {
  margin-right: 0.5rem;
  font-size: 1.4rem;
}
.con-contents .con-posts .post footer h3 span {
  overflow: hidden;
  text-overflow: ellipsis;
}
.con-contents .con-posts .post footer p {
  font-size: 10pt;
}
.con-contents .con-posts .post .effect {
  position: absolute;
  bottom: 0px;
  height: 150px;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, 0.001) 100%);
}
.tag-item {
  display: flex;
  gap: 0.5rem;
  padding: 8px 0;
}
.tag-item .tag {
  padding: 4px 6px;
  font-size: 8pt;
  border-radius: 0.5rem;
  border: 1px solid #eaeaea;
  color: #5f5f5f;
}
